= form_for @import_datum do |f|
  - if @import_datum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@import_datum.errors.count, "error")} prohibited this import_datum from being saved:"
      %ul
        - @import_datum.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :import_history_id
    = f.number_field :import_history_id
  .field
    = f.label :import_config_id
    = f.number_field :import_config_id
  .field
    = f.label :unique_id
    = f.text_field :unique_id
  .field
    = f.label :unique_hash
    = f.text_field :unique_hash
  .field
    = f.label :mapped_fields
    = f.text_area :mapped_fields
  .field
    = f.label :process_flag
    = f.check_box :process_flag
  .field
    = f.label :process_date
    = f.datetime_select :process_date
  .field
    = f.label :expense_id
    = f.number_field :expense_id
  .field
    = f.label :process_notes
    = f.text_area :process_notes
  .actions
    = f.submit 'Save'
