= form_for @pay_method do |f|
  -if @pay_method.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pay_method.errors.count, "error")} prohibited this pay_method from being saved:"
      %ul
        - @pay_method.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
%hr
%h2
  Existing Pay Methods:
  %ul
    - @pay_methods.each do |p|
      %li
        = p.name

