%p#notice= notice

%p
  %b From user:
  = @user_dept.from_user_id
%p
  %b To user:
  = @user_dept.to_user_id
%p
  %b Amount:
  = @user_dept.amount

= link_to 'Edit', edit_user_dept_path(@user_dept)
\|
= link_to 'Back', user_depts_path
