%h1 Listing user_payments

%table{:border => 1}
  %tr
    %th From user
    %th To user
    %th Amount
    %th Approved
    %th Approved date
    %th Notes
    %th

  - @user_payments.each do |user_payment|
    %tr
      %td= user_payment.from_user.user_name
      %td= user_payment.to_user.user_name
      %td= number_to_currency(user_payment.amount)
      %td= user_payment.approved
      %td= user_payment.approved_date
      %td= user_payment.payment_notes.size
      %td= link_to 'Show', user_payment
