= form_for(@expense) do |f|
  =render :partial => "form_fields", :locals => {:f => f}
  .actions
    = f.submit
    = f.submit value: "Add Pay Method"
    = f.submit value: "Add Reason"
    = f.submit value: "Add Store"
=render :partial => "balances"
