%h1
  Import expenses

= form_for :file_upload, :html => {:multipart => true} do |f|
  = f.file_field :my_file
  = f.submit "Upload"

%h2
  Supported Configurations
%ul
  - @supported_configs.each do |s|
    %li
      = s.title
      = ":"
      = s.description

