Welcome:
= session[:user_name]
%ul
  %li
    %a{:href => "/expenses/new"} 
      Add expense
  %li
    %a{:href => "/expenses/import"} 
      Import expenses
  %li
    %a{:href => "/expenses/process_imports"} 
      Process imported records
  %li
    %a{:href => "/users/#{session[:user_id]}/edit"} 
      Edit user
  %li
    %a{:href => "/expenses"} 
      View expenses
%hr
- unless @balances.empty?
  %h3 Balances
  %ul
  - @balances.each do |b|
    %li
      = "#{b.from_user.user_name} owes #{b.to_user.user_name} : #{number_to_currency(b.amount)}"
