%h1 
  Add imported record
  = "(#{@records_total}"
  left)
= form_for(@expense, :url => "/expenses/create_from_imported") do |f|
  = hidden_field_tag 'import_id',@record_id
  = hidden_field_tag 'original_store_id',@original_store_id
  =render :partial => "form_fields", :locals => {:f => f}
  .actions
    = f.submit
    = f.submit value: "Add Pay Method"
    = f.submit value: "Add Reason"
    = f.submit value: "Add Store"
=render :partial => "balances"
