<p id="notice"><%= notice %></p>

<p>
  <b>Date purchased:</b>
  <%= @expense.date_purchased %>
</p>

<p>
  <b>Description:</b>
  <%= @expense.description %>
</p>

<p>
  <b>Pay method:</b>
  <%= @expense.pay_method_id %>
</p>

<p>
  <b>Reason:</b>
  <%= @expense.reason_id %>
</p>

<p>
  <b>Store:</b>
  <%= @expense.store_id %>
</p>

<p>
  <b>User:</b>
  <%= @expense.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @expense.group_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>Process date:</b>
  <%= @expense.process_date %>
</p>

<p>
  <b>Process flag:</b>
  <%= @expense.process_flag %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
